.homebody{
    /* background-color: #FF69B4; */
    max-width: 1366px;
    float: center;
    margin: auto;
    box-shadow: 0px -2.5px 2.5px 0px rgba(128, 128, 128, 0.5);
    display:block;
    height: 100vh;
    z-index: -1;
    margin-top: 100px;
}

.homeImageSlide {
    background-color: rgba(0, 0, 0, 0.2 );
    margin-top: 5px;
    margin-bottom: 20px;
}
.homeImageSlide .imgSlide{
    max-width: 100%;
    height: 500px;
    background: #FF69B4;
}

.homeButtonClick{
    height: 100px;
    width: 100%;
}
.homeButtonClick {
    margin: auto;
    max-width: 1337px;
    text-align: center;
}